@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?os2b6e');
  src:  url('fonts/icomoon.eot?os2b6e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?os2b6e') format('truetype'),
    url('fonts/icomoon.woff?os2b6e') format('woff'),
    url('fonts/icomoon.svg?os2b6e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}